<div class="content-body d-flex justify-content-center">


    <div class="card  ">
        <div class="card-body">

            <div class="col">
                <h3 title="Create Book"> Create Book </h3>
                <form (ngSubmit)="onSubmit()">




                    <div class="form-group">
                        <label> Book Name</label>
                        <input type="text" class="form-control" id="bookName" placeholder="Enter Book Name"
                            [(ngModel)]="book.bookName" name="bookName" title="Book Name">
                    </div>
                    <div class="form-group">
                        <label> Author Name</label>
                        <input type="text" class="form-control" id="authorName" placeholder="Enter Author Name"
                            [(ngModel)]="book.authorName" name="authorName" title="Author Name">
                    </div>
                    <div class="form-group">
                        <label> Genre</label>
                        <input type="text" class="form-control" id="genre" placeholder="Enter Genre"
                            [(ngModel)]="book.genre" name="genre" title="Genre">
                    </div>
                    <div class="form-group">
                        <label> Edition</label>
                        <input type="text" class="form-control" id="edition" placeholder="Enter Edition"
                            [(ngModel)]="book.edition" name="edition" title="Edition">
                    </div>


                    <div class="form-group">
                        <label> Genre ID</label>
                        <input type="text" class="form-control" id="genre" placeholder="Enter Genre ID"
                            [(ngModel)]="book.genreId" name="genreId" title="Genre">
                    </div>

                    <div class="form-group">
                        <label> Number Of Copies</label>
                        <input type="text" class="form-control" id="noOfCopies" placeholder="Enter Number Of Copies"
                            [(ngModel)]="book.noOfCopies" name="noOfCopies" title="Number Of Copies">
                    </div>

                    <div>
                        <button class="button" type="submit">Submit</button>
                        <button class="button"type="submit"><a href="http://localhost:4200/books">Go Back</a></button>

                    </div>

                </form>

            </div>

        </div>
    </div>