<div class="content-body d-flex justify-content-center">


    <div class="card  ">
        <div class="card-body">
            <h5>Library Management System Introduction</h5><br>
            <p>Library Management System is a web based application. Library management system is a
                project which aims in developing a computerized system to maintain all the daily work of library .This
                project has many features which are generally not available in normal library management systems like
                facility of user login and a facility of admin login .It also has a facility of admin login through
                which the admin can monitor the whole system .Online Library Management System is a system which 
                maintains the information about the books present in the library, their authors, their genres,their 
                edition and all.It eliminates paper-based processes and reduces operation costs and saves time of 
                the library management. So, library will become free of number of registers and files. </p><br>



            <h5>LMS Requirement</h5><br>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>Project Name</th>
                        <td>Library Management System</td>

                    </tr>
                    <tr class="alt">
                        <th>Language Used</th>
                        <td>Java,Hibernate,Springboot,RestAPI</td>
                    </tr>
                    <tr>
                        <th>Database</th>
                        <td>MySQL 5.x</td>
                    </tr>
                    <tr class="alt">
                        <th>User Interface Design</th>
                        <td>ANGULAR,TYPESCRIPT,HTML, CSS,BOOTSTRAP</td>
                    </tr>
                    <tr>
                        <th>Web Browser</th>
                        <td>Google Chrome</td>
                    </tr><br>
                    <h5>LMS Project Modules</h5><br>
                    <p><strong>Online library Management System modules:</strong></p>
                    <ul>
                        <li>Admin</li>
                    </ul>
                    <p><strong>Admin Features</strong></p>
                    <ul>
                        <li>Admin Dashboard</li>
                        <li>Admin can add/update/ delete category</li>
                        <li>Admin can add/update/ delete author</li>
                        <li>Admin can add/update/ delete books</li>
                        <li>Admin can search a book by using Book Name</li>
                        
                        </ul>
                </tbody>
            </table>

        </div>
    </div>
</div>