<div class="content-body d-flex justify-content-center">


    <div class="card  ">
        <div class="card-body">
            <div class="col">
                <div class="box">
                    <h3> View Book Details</h3>
                    <br>
                    <div>




                        <div>
                            <label> <b> Book Name: </b></label> {{book.bookName}}
                        </div>
                        <div>
                            <label> <b> Author Name: </b></label> {{book.authorName}}
                        </div>
                        <div>
                            <label> <b> Genre: </b></label> {{book.genre}}
                        </div>
                        <div>
                            <label> <b> Edition: </b></label> {{book.edition}}
                        </div>

                        <div>
                            <label> <b> Genre ID: </b></label> {{book.genreId}}
                        </div>
                        <div>
                            <label> <b> Number Of Copies: </b></label> {{book.noOfCopies}}
                        </div>

                       


                    </div>
                </div>
            </div>
        </div>
    
    <div>
        <button class="button"><a href="http://localhost:4200/books">Go Back</a></button>
    </div>
</div>